body {
    background: linear-gradient(to right, #bec9cc, #5cb488); 
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin: 10;
    box-sizing: border-box;
}

.container {
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow:0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    color: #181717;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    gap: 10px;
}

#itemForm {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

#itemInput {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

#itemInput:focus {
    border-color: #19ac82; 
}

#itemForm button {
    background-color: #56b18b; 
    color: white; 
    padding: 12px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    height: fit-content;
    align-self: flex-start;
}

#itemForm button:hover {
    background-color: #36a074; 
}

#errorMessage {
    color: red; 
    font-size: 0.8em; 
    margin: 0;
    height: 1.2em;
    display: block;
}

#daftar {
    width: 100%;
    max-width: 300px;
    list-style: none; 
    padding: 20px;
    text-align: center;
    gap: 10px;
}

#daftar li {
    background: white;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #333; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.invalid {
    border-color: red !important;
    outline: none !important;
}

.valid {
    border-color: green !important; 
}